*{
	box-sizing: content-box;
}

@font-face {
    font-family: 'KenneyFont';
    src: url('Kenney High.ttf') format('truetype'); 
}  

  
body {
    font-family: 'KenneyFont', monospace;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

input { 
    font-family: 'KenneyFont', monospace;
}

#game {
    width: 100%;
    height: 100%;
}

#serverLink {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#mapBar {
    display: flex;
}

#settingsPanel {
    width: 400px;
    height: 220px;
    display: none;
}

.panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    text-align: center;
    background: #856442;
    outline: 4px solid black;
    border: 3px solid #ab8864;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

#join {
    padding-top: 20px;
    height: 180px;
}

#setup {
    padding-top: 20px;
    height: 180px;
}

.button:active {
    margin-top: 3px;
    border-bottom: 2px solid #616374;
}

#closeButton:active {
    margin-top: 3px;
    border-bottom: 2px solid #A00;
}

#soundButton:active {
    margin-top: 23px;
}

#startGame {
    top: 20px;
}

#joinGame {
    top: 80px;
}

#setupButton {
    top: 140px;
}

#soundButton.isoff {
	background-image: url(soundisoff.png);
}

#soundButton {
	width: 40px;
	height: 40px;
	position: static;
	margin: 20px;
	background-image: url(soundison.png);
	background-size: cover;
}

#closeButton {    
    position: absolute;
    outline: 4px solid black;
    color: white;
    background: red;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    right: -11px;
    top: -11px;
    border-bottom: 5px solid #A00;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.button {
    position: absolute;
    outline: 4px solid black;
    user-select: none;
    color: white;
    font-size: 28px;
    line-height: 40px;
    height: 40px;
    background: #838796;
	border-width: 0;
    border-bottom: 5px solid #616374;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
	padding: 0;
    width: 200px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

.mapbutton:active {
    transform: translate(0, 3px);
    border-bottom: 2px solid #616374;
    margin-bottom: 13px;
}

.mapbutton {
    outline: 4px solid black;
    user-select: none;
    color: white;
    font-size: 28px;
    line-height: 40px;
    height: 40px;
    background: #838796;
    border-bottom: 5px solid #616374;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}


#chat {
    border-radius: 10px;
    color: white;
    background: rgba(0, 200, 0, 1);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

#settings {
    border-radius: 10px;
    color: white;
    background: rgba(0, 200, 0, 1);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.label {
    font-size: 28px;
}

input {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

#join {
    display: none;
}

#setup {
    display: none;
    height: 300px;
}

#playerList {
    position: absolute;
    flex-direction: column;
    top: 35px;
    right: 5px;
    display: flex;
    align-items: end;
}

.nametag {
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    user-select: none;
}

#tooltip {
    display: none;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    user-select: none;
    position: absolute;
    font-size: 1.1em;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
}

.option {
    display: flex;
    font-size: 30px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.configpanel {
    width: 200px;
    margin-left: 50px;
    height: 150px;
}

#chatinput {
    display: none;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 800px;
    outline: none;
}

#chatList {
    position: absolute;
    flex-direction: column;
    top: 35px;
    left: 5px;
    display: flex;
    align-items: start;
}

.chatline {
    display: flex;
    margin-bottom: 2px;
}

.chatname {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70px;
    max-width: 70px;
    overflow: hidden;
    text-align: right;
}

.chattext {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
}

#splash {
    background: #337979;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#splash img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}