* {
	box-sizing: content-box;
}

@font-face {
    font-family: 'KenneyFont';
    src: url('Kenney High.ttf') format('truetype');
}

:root {
    font-family: 'KenneyFont', monospace;
    font-size: 20px;
}
  
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

input {
    font-family: 'KenneyFont', monospace;
}

#game {
    width: 100%;
    height: 100%;
}

.setting {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.settingLabel {
    text-align: left;    
    line-height: 2rem;
}

#serverSettingsButton {
    margin-left: 100px;
}

#serverLink {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: copy;
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
}


#mapBar {
    position: absolute;
    bottom: 10px;
    display: flex;
    margin-top: 20px;
    width: 400px;
}

#settingsPanel {
    width: 400px;
    height: 250px;
    display: none;
}

#serverSettingsPanel {
    width: 400px;
    height: 370px;
    display: none;
}

.panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    text-align: center;
    background: #856442;
    outline: 4px solid black;
    border: 3px solid #ab8864;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

#join {
    padding-top: 20px;
    height: 180px;
}

#setup {
    padding-top: 20px;
    height: 180px;
}

.button:active {
    margin-top: 3px;
    border-bottom: 2px solid #616374;
}

#closeButton:active {
    margin-top: 3px;
    border-bottom: 2px solid #A00;
}

#closeServerSettingsButton:active {
    margin-top: 3px;
    border-bottom: 2px solid #A00;
}

#soundButton:active {
    margin-top: 23px;
}

#startGame {
    top: 20px;
}

#joinGame {
    top: 80px;
}

#setupButton {
    top: 140px;
}

#settingButtons {
    height: 80px;
    display: flex;
    justify-content: center;
}

#soundButton.isoff {
	background-image: url(soundisoff.png);
}

#keyboardSetupButton:active {
    margin-top: 23px;
}

#keyboardSetupButton {
	width: 40px;
	height: 40px;
	position: static;
	margin: 20px;
	background-image: url(keyboard.png);
	background-size: cover;
}


#controllerButton:active {
    margin-top: 23px;
}

#controllerButton {
	width: 40px;
	height: 40px;
	position: static;
	margin: 20px;
	background-image: url(gamepad.png);
	background-size: cover;
}

#fullscreenButton.isFullscreen {
	background-image: url(smaller.png);
}

#fullscreenButton:active {
    margin-top: 23px;
}

#fullscreenButton {
	width: 40px;
	height: 40px;
	position: static;
	margin: 20px;
	background-image: url(larger.png);
	background-size: cover;
}

#soundButton {
	width: 40px;
	height: 40px;
	position: static;
	margin: 20px;
	background-image: url(soundison.png);
	background-size: cover;
}

#closeServerSettingsButton {
    position: absolute;
    outline: 4px solid black;
    color: white;
    background: red;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    right: -11px;
    top: -11px;
    border-bottom: 5px solid #A00;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#closeButton {    
    position: absolute;
    outline: 4px solid black;
    color: white;
    background: red;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    right: -11px;
    top: -11px;
    border-bottom: 5px solid #A00;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.button {
    position: absolute;
    outline: 4px solid black;
    user-select: none;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    height: 40px;
    background: #838796;
	border-width: 0;
    border-bottom: 5px solid #616374;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
	padding: 0;
    width: 200px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

.mapbutton:active {
    transform: translate(0, 3px);
    border-bottom: 2px solid #616374;
    margin-bottom: 13px;
}

.mapbutton {
    text-align: center;
    outline: 4px solid black;
    user-select: none;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    height: 40px;
    background: #838796;
    border-bottom: 5px solid #616374;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}


#chat {
    border-radius: 10px;
    color: white;
    background: rgba(0, 200, 0, 1);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

#settings {
    border-radius: 10px;
    color: white;
    background: rgba(0, 200, 0, 1);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.label {
    font-size: 1.4rem;
    margin-top: 3px;
}

input {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

#join {
    display: none;
}

#setup {
    display: none;
    height: 300px;
}

#playerList {
    position: absolute;
    flex-direction: column;
    top: 35px;
    right: 5px;
    display: flex;
    align-items: end;
}

.nametag {
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    user-select: none;
}

#tooltip {
    display: none;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    user-select: none;
    position: absolute;
    font-size: 1.1em;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
}

.option {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.configpanel {
    width: 200px;
    margin-left: 50px;
    height: 150px;
}

#chatinput {
    display: none;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 800px;
    outline: none;
}

#chatList {
    position: absolute;
    flex-direction: column;
    top: 35px;
    left: 5px;
    display: flex;
    align-items: start;
}

.chatline {
    display: flex;
    margin-bottom: 2px;
}

.chatname {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70px;
    max-width: 70px;
    overflow: hidden;
    text-align: right;
}

.chattext {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    margin-left: 2px;
}

#portalinput {
    display: none;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 200px;
    outline: none;
}

#splash {
    background: #337979;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#splash img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settingButton {
    width: 60px;
}

#mods {
    margin-top: 20px;
    width: 400px;
    display: flex;
    margin-left: 20px;
}

#modsList {    
    width: 280px;
    height: 140px;
    background: white;
    padding: 5px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#modControls {
    display: flex;
    flex-direction: column;
}

.mod {
    width: 300px;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 10px;
}

.modSelected {
    background: black;
    color: white;
}

#codeBar {
    position: absolute;
    bottom: 10px;
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: end;
}

#codePanel {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
}

#codeEditor {
    position: absolute;
    top: 0;
    bottom: 70px;
    width: 100%;
    border: 1px solid black;
}
